<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeWizard">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewRecipeActivity"
            android:label="View Recipe"></activity>
        <activity
            android:name=".EditRecipeActivity"
            android:label="Edit Recipe"></activity>
        <activity
            android:name=".AddRecipeActivity"
            android:label="Add Recipe"></activity>
        <activity
            android:name=".CaptureRecipeActivity"
            android:label="Capture Recipe"></activity>

        <activity
            android:name=".DirectionsAdjustmentActivity"
            android:label="Adjust Directions"></activity>

        <activity
            android:name=".EditTextBlocksActivity"
            android:label="Edit Text Blocks"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/auth_name"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>

